<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="../statics/styles.css">
    </head>
<body>
    <h1>Welcome to Music Service Dashboard</h1>

    <h2> Profile </h2>
    <form action="/users/me" method="GET">
    <button type="submit">Get Profile</button>
</form>

<h2> All songs!!! </h2>
{% for song in songs %}
    <p> {{ song.title }} </p>
    <p> {{ song.artist_id }} </p>
    <p> {{ song.album_id }} </p>
    <p> {{ song.genre }} </p>
    <p> {{ song.duration }} </p>
    <p> {{ song.file_id }} </p>
    <br>
{% endfor %}


